@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: dimgray;
    color: white;
}

nav {
    padding: 0.5em;
    background: rgb(44, 164, 194);
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav > ul > li {
    margin: 0.5em;
}

nav > ul > li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.25em;
}
h2 {
    color:rgb(44, 164, 194);
}
#hero {
    color: rgb(0, 0, 0);
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
    text-align: center;
}

#items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#items-container {
    display: grid;
    overflow: auto;
    grid-template: repeat(12, 550px) / repeat(4, 400px);
}

#items-container > div {
    color: white;
}

.item {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin: 0.5em;
}

.item > div {
    padding: 1em;
}

.item-image {
    width: 400px;
    height: 400px;
    float: left;
    object-fit: cover;
}

.item-author {
    text-decoration: underline;
}

.dropbtn {
    background-color: rgb(44, 164, 194);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float:right;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(44, 164, 194);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}